# config settings for conkyForecast.py
CACHE_FOLDERPATH = /home/lainme/
CONNECTION_TIMEOUT = 30
EXPIRY_MINUTES = 30
TIME_FORMAT = %H:%M
DATE_FORMAT = %Y-%m-%d
LOCALE = CN
XOAP_PARTNER_ID = 1194561723 
XOAP_LICENCE_KEY = 5f41eb7a68725b30
MAXIMUM_DAYS_FORECAST = 4
BASE_XOAP_URL = http://xoap.weather.com/weather/local/<LOCATION>?cc=*&dayf=5&link=xoap&prod=xoap&par=<XOAP_PARTNER_ID>&key=<XOAP_LICENCE_KEY>&unit=m
