Documents
Music
Pictures
software
.config/autostart/
.config/dconf/
.config/nautilus/
.config/mpd/*
.config/fcitx/
.config/Mendeley Ltd./
!.config/mpd/mpd.conf
.cow
.ddns
.extrarc
.fonts/*
!.fonts/Poky.ttf
.local
.sage
.ssh
.subversion
.vim/.*
.vim/spell
.vim/bundle/*
!.vim/bundle/vundle/
.vim/bundle/vundle/.netrwhist
