Documents
Music
Pictures
sysconf
.config/autostart/
.config/dconf/
.config/nautilus/
.config/mpd/*
.config/wesnoth/
!.config/mpd/mpd.conf
.extrarc
.fonts/*
!.fonts/Poky.ttf
.irssi/config*
.irssi/away.log
.local
.vim/.*
.vim/spell
.vim/bundle/*
!.vim/bundle/vundle/
