Documents
Music
Pictures
program
sysconf
bin/crossrun.sh
bin/syncrepo.sh
bin/serverdeploy.sh
.config/autostart/
.config/dconf/
.config/nautilus/
.config/mpd/*
.config/fcitx/
!.config/mpd/mpd.conf
.extrarc
.fonts/*
!.fonts/Poky.ttf
.irssi/config*
.irssi/away.log
.local
.shadowsocks/
.vim/.*
.vim/spell
.vim/bundle/*
!.vim/bundle/vundle/
.vim/bundle/vundle/.netrwhist
.cow
.sage
